/*A fonte padrão é Times New Roman*/


*{/*Resetando a margem, o padding por padrão.*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(252,203,144);
    background: linear-gradient(315deg, rgba(252,203,144,1) 0%, rgba(213,126,235,1) 24%, rgba(0,212,255,1) 84%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif; /*Essa combinação de com 3 tipos de fontes, é chamado de Safe-Combination. Que é uma combinação segura, caso a primeira fonte não funcione em determinado dispositivo, é utilizado a segunda e assim em diante.*/
}
.container{
    color: whitesmoke;
    width: 70%;
    height: 400px;
}