*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*Seletor para resetar a margin e o padding que o navegador nos dá como padrão.*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10em;
    padding: 7rem;
}/*Seletor do corpo da página.*/

table{
    width: min(100%, 320px);
    table-layout: fixed;
}

td{
    border: 1px solid black;
    padding: 8px;
}