@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@700&family=Poller+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}/*Configurações para zerar as configurações que o navegador nos dá como padrão.*/

section{
    width: 100%; /*Largura*/
    height: 400px; /*Altura*/
    padding: 40px 4%; /*Padding de 40px em cima e em baixo e 4% na direita e na esquerda.*/
    background-position: center; /**/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    text-align: center; /*Conteúdo de texto centralizado.*/
    font-family: Poller One;
    color: rgb(251, 255, 0);

}/*Todas as section terão a largura de 100%, ou seja, as section vão ocupar 100% da largura delas. E altura de 400 pixels - px.*/

section h1{
    font-size: 40px;
}

section p{
    text-align: justify;
}

section:nth-of-type(1){/*nth-of-type(1) serve para específica que queremos fazer alterações na primeira section.
    Seletor da Section 1, que tem a primeira imagem.*/
    background-image: url("../imagem/city.jpg");

}

section:nth-of-type(3){/*Seletor da Section 3, que tem a segunda imagem.*/
    background-image: url("../imagem/baby-yoda.jpg");
}

section:nth-of-type(5){/*Seletor da Section 5, que tem a terceira imagem.*/
    background-image: url("../imagem/guerra1.jpg");
}

section:nth-of-type(7){/*Seletor da Section 7, que tem a quarta imagem.*/
    background-image: url("../imagem/guerra2.jpg");
}

section:nth-of-type(9){/*Seletor da Section 9, que tem a quinta imagem.*/
    background-image: url("../imagem/star-wars-saga-skywalker.jpg");
}

section:nth-of-type(11){
    background-image: url("../imagem/guerra-na-galáxia.jpg");
}

section:nth-of-type(13){
    background-image: url("../imagem/");
}

ul li{/*Seletor para alinhar a esquerda todos os elementos li das ul.*/
    text-align: left; /*Alinhamento do texto à esquerda.*/
    margin: 0 20px;/*Margin da esquerda para á direita 20px e 0 para cima e para baixo.*/
}