*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*Configurações para zerar as configurações que o navegador nos dá como padrão.*/

section{
    width: 100%; /*Largura*/
    height: 400px; /*Altura*/
}/*Todas as section terão a largura de 100%, ou seja, as section vão ocupar 100% da largura delas. E altura de 400 pixels - px.*/

section{
    
}